<a href="https://colab.research.google.com/github/AUMANSH/Data-Science-Projects/blob/main/92200103209_Practical_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:

# Sample noisy data
data = {'A': [1, 2, np.nan, 4, 5],
        'B': [6, 7, 8, np.nan, 10],
        'C': [11, 12, 13, 14, 15]}

In [3]:
df = pd.DataFrame(data)

In [4]:
# i. Dropping missing values
df_dropped = df.dropna()
print("DataFrame after dropping missing values:\n", df_dropped)

DataFrame after dropping missing values:
      A     B   C
0  1.0   6.0  11
1  2.0   7.0  12
4  5.0  10.0  15

In [5]:
# ii. Filling with mean
df_mean = df.fillna(df.mean())
print("\nDataFrame after filling with mean:\n", df_mean)

DataFrame after filling with mean:
      A      B   C
0  1.0   6.00  11
1  2.0   7.00  12
2  3.0   8.00  13
3  4.0   7.75  14
4  5.0  10.00  15

In [6]:
# iii. Filling with median
df_median = df.fillna(df.median())
print("\nDataFrame after filling with median:\n", df_median)

DataFrame after filling with median:
      A     B   C
0  1.0   6.0  11
1  2.0   7.0  12
2  3.0   8.0  13
3  4.0   7.5  14
4  5.0  10.0  15

In [7]:

# iv. Filling with mode
df_mode = df.fillna(df.mode().iloc[0])
print("\nDataFrame after filling with mode:\n", df_mode)

DataFrame after filling with mode:
      A     B   C
0  1.0   6.0  11
1  2.0   7.0  12
2  1.0   8.0  13
3  4.0   6.0  14
4  5.0  10.0  15