<a href="https://colab.research.google.com/github/AUMANSH/Data-Science-Projects/blob/main/Questions_Interview_Python_22_June.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Lists are mutable
list1 = [1, 2, 3]
list1[0] = 4
print(list1)  # Output: [4, 2, 3]

# Tuples are immutable
tuple1 = (1, 2, 3)
# tuple1[0] = 4  # This would raise an error: TypeError: 'tuple' object does not support item assignment
print(tuple1)  # Output: (1, 2, 3)

[4, 2, 3]
(1, 2, 3)

In [4]:
# append adds a single element to the end of the list
list1 = [1, 2, 3]
list1.append(4)
print(list1)  # Output: [1, 2, 3, 4]

# extend adds all elements of an iterable (e.g., another list) to the end
list2 = [5, 6]
list1.extend(list2)
print(list1)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]

In [5]:
# Lambda functions are small, anonymous functions defined using the 'lambda' keyword.
# They can take any number of arguments but can only have one expression.
# They are often used when you need a function for a short period and don't want to formally define it with 'def'.

# Example: squaring a number
square = lambda x: x * x
print(square(5))  # Output: 25

25

In [6]:
def find_max(a, b, c):
  """
  This function finds the maximum of three numbers.

  Args:
      a: The first number.
      b: The second number.
      c: The third number.

  Returns:
      The maximum of the three numbers.
  """
  return max(a, b, c)

# Example usage
result = find_max(10, 5, 20)
print(result)  # Output: 20

20

In [8]:
# 1. Numeric Types:

# Integer (int): Represents whole numbers without decimals.
x = 10
print(type(x))  # Output: <class 'int'>

# Float (float): Represents numbers with decimals.
y = 3.14
print(type(y))  # Output: <class 'float'>

# Complex (complex): Represents complex numbers with a real and imaginary part.
z = 2 + 3j
print(type(z))  # Output: <class 'complex'>

<class 'int'>
<class 'float'>
<class 'complex'>

In [9]:
# 2. Sequence Types:

# String (str): Represents a sequence of characters enclosed in single or double quotes.
name = "John Doe"
print(type(name))  # Output: <class 'str'>

# List (list): Represents an ordered, mutable collection of items.
numbers = [1, 2, 3, 4]
print(type(numbers))  # Output: <class 'list'>

# Tuple (tuple): Represents an ordered, immutable collection of items.
coordinates = (10, 20)
print(type(coordinates))  # Output: <class 'tuple'>

<class 'str'>
<class 'list'>
<class 'tuple'>

In [10]:
# 3. Mapping Type:

# Dictionary (dict): Represents a collection of key-value pairs.
person = {"name": "Alice", "age": 30}
print(type(person))  # Output: <class 'dict'>

<class 'dict'>

In [11]:
# 4. Set Types:

# Set (set): Represents an unordered collection of unique items.
fruits = {"apple", "banana", "orange"}
print(type(fruits))  # Output: <class 'set'>

# Frozenset (frozenset): Represents an immutable set.
frozen_fruits = frozenset({"apple", "banana", "orange"})
print(type(frozen_fruits))  # Output: <class 'frozenset'>

<class 'set'>
<class 'frozenset'>

In [12]:
# 5. Boolean Type:

# Boolean (bool): Represents either True or False.
is_valid = True
print(type(is_valid))  # Output: <class 'bool'>

<class 'bool'>

In [13]:
# 6. None Type:

# NoneType (None): Represents the absence of a value.
result = None
print(type(result))  # Output: <class 'NoneType'>

<class 'NoneType'>

In [18]:
# Basic Arithmetic Operations

# Addition
result = 5 + 3
print("5 + 3 =", result)  # Output: 5 + 3 = 8

# Subtraction
result = 10 - 4
print("10 - 4 =", result)  # Output: 10 - 4 = 6

# Multiplication
result = 6 * 7
print("6 * 7 =", result)  # Output: 6 * 7 = 42

# Division
result = 15 / 3
print("15 / 3 =", result)  # Output: 15 / 3 = 5.0

# Floor Division (returns the quotient without the remainder)
result = 17 // 3
print("17 // 3 =", result)  # Output: 17 // 3 = 5

# Modulo (returns the remainder of the division)
result = 17 % 3
print("17 % 3 =", result)  # Output: 17 % 3 = 2

# Exponentiation
result = 2 ** 3
print("2 ** 3 =", result)  # Output: 2 ** 3 = 8

5 + 3 = 8
10 - 4 = 6
6 * 7 = 42
15 / 3 = 5.0
17 // 3 = 5
17 % 3 = 2
2 ** 3 = 8

In [22]:
# Even or Odd Number Check

num = int(input("Enter a number: "))

if num % 2 == 0:
  print(num, "is an even number.")
else:
  print(num, "is an odd number.")

Enter a number: 9
9 is an odd number.

In [20]:
# Lists in Python

# Creating a list
fruits = ["apple", "banana", "orange"]

# Accessing elements
print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana

# Modifying elements
fruits[2] = "grape"
print(fruits)  # Output: ['apple', 'banana', 'grape']

# Adding elements
fruits.append("mango")
print(fruits)  # Output: ['apple', 'banana', 'grape', 'mango']

# Removing elements
fruits.remove("banana")
print(fruits)  # Output: ['apple', 'grape', 'mango']

apple
banana
['apple', 'banana', 'grape']
['apple', 'banana', 'grape', 'mango']
['apple', 'grape', 'mango']